
.container {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1.1;
    .price{
        position: absolute;
        top:-3%;
        left: 10%;
        color: #FFFFFF;
        font-size: 0.16rem;
        height: 0.65rem;
        width: 0.6rem;
        background-color: #1F2B43;
        clip-path: polygon(0 0, 99% 0, 100% 100%, 50% 77%, 0 100%);
        text-align: center;
        padding-top: 10px;
        font-family: 'aaa';
        z-index: 100;
    }
    .image {
        width: 90%;
        height: 100%;
        margin: auto;
        border-radius: 0.2rem;
        overflow: hidden;
        position: relative;
        .time{
            position: absolute;
            bottom:5%;
            right: 5%;
            color: #FFFFFF;
            font-size: 0.12rem;
        }
        img {
            width: 100%;
            height:100%;
        }
    }
    .imgpage{
        display: flex;
        width: 89%;
        margin: auto;
        padding: 3% 0%;
        color: #FFFFFF;
        font-size: 0.14rem;
        >div{
            flex: 1;
        }
        >div:nth-child(2){
            text-align: end;
        }
    }

    .footer_button {
        text-align: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        font-size: 0.15rem;
        color: #FFFFFF;
        width: 50%;
        height: 0.6rem;
        line-height: 0.6rem;
        margin: auto;
        transition: .3s;
        cursor: pointer;
        user-select: none;
        background-image: url(../../../public/home/yellow.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
}