@import './variables.scss';

// :root {
//   color-scheme: dark;
// }此文件夹为全局样式

html {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1000px;
  overflow-x: auto;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: $font;
  background-color: $dusk;
  color: $cream;
  width:100%;
  max-width: 2000px;
  font-family:'bbb';
}
@font-face {
  font-family: aaa;
  src: url(./Airbnb/AirbnbCerealBlack.ttf);//标题字体
}
@font-face {
  font-family: bbb;
  src: url(./Airbnb/AirbnbCerealLight.ttf);//正文字体
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


button:hover {
  background-color: $cream_hover;
}
button:disabled {
  opacity: .7;
  cursor:not-allowed;
}
.button_danger {
  background-color: $red;
}
.button_danger:hover {
  background-color: $red_hover;
}

label {
  overflow: hidden;
  height:60px;
}