@import '../styles/variables.scss';

.container {
    width: 100%;
    margin: auto;
    font-size: 0.14rem;

    .home_img {
        width: 100%;
        height: 10rem;
        position: relative;

        >img {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
            z-index: -1;
        }

        .home_page {
            font-size: 0.24rem;
            text-align: center;
            padding-top: 1.7rem;
            letter-spacing: -0.02em;
            color: #F1F1F1;
            font-weight: 800;
        }

        .home_show {
            width: 90%;
            height: 6.5rem;
            margin: auto;
            position: relative;

            >div:nth-child(1) {
                display: flex;
                justify-content: space-evenly;

                >div:nth-child(odd) {
                    transform: translateY(15%);
                }

                >div:nth-child(even) {
                    transform: translateY(30%);
                }

                >div {
                    position: relative;

                    >img {
                        height: 4rem;
                        width: 2.6rem;
                        user-select: none;
                    }

                    .price {
                        position: absolute;
                        top: -5%;
                        left: 5%;
                        height: 0.65rem;
                        width: 0.5rem;
                        background-color: #1F2B43;
                        clip-path: polygon(0 0, 99% 0, 100% 100%, 50% 77%, 0 100%);
                        text-align: center;
                        padding-top: 10px;
                        font-size: 0.2rem;
                        font-family: 'aaa';
                        font-weight: 300;
                    }

                    .bottom {
                        position: absolute;
                        bottom: 0%;
                        left: 0%;
                        width: 100%;
                        padding: 20px 5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        font-family: 'aaa';

                        >div:nth-child(2) {
                            .dates {
                                >span {
                                    display: inline-block;
                                    text-align: center;
                                    width: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                    background: rgba(0, 0, 0, 0.6);
                                    border-radius: 10px;
                                    margin: 0px 3px;
                                }
                            }
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0%;
                        bottom: 0%;
                        width: 100%;
                        height: 0.4rem;
                        background: #00102E;
                        filter: blur(27px);
                        transform: translateY(50%);
                        transition: all .5s;
                        pointer-events: none;
                        z-index: -1;
                    }
                }
            }

            >div:nth-child(2) {
                height: 4px;
                width: 6rem;
                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: space-evenly;

                >span {
                    width: 1rem;
                    background-color: #999999;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
    }

    .home_rf {
        width: 85%;
        margin: auto;
        display: flex;
        aspect-ratio: 1.8/1;

        .home_rf_left {
            flex: 3;
            .home_rf_left_title{
                text-transform: uppercase;
                perspective: 500px;
                display: flex;
                >div:nth-child(1){
                    font-size: 0.3rem;
                    color: #C7D6F8;
                    background-color: #404B7F;
                    border-radius: 0.16rem;
                    display: inline-block;
                    width: 2.5rem;
                    text-align: center;
                    height: 1rem;
                    line-height: 1rem;
                    transform: rotateX(-3deg) rotateY(55deg);
                    >span{
                        display: inline-block;
                        cursor: pointer;
                    }
                    >span:nth-child(1){
                        padding-right: 10%;
                    }
                }
                >div:nth-child(2){
                    flex: 1;
                    margin-left: 4%;
                    display: flex;
                    position: relative;
                    >div:nth-child(1){
                        flex: 1;
                        >div:nth-child(1){
                            background-color: #21264B;
                            width: 1.5rem;
                            height: 0.5rem;
                            line-height: 0.5rem;
                            font-size: 0.24rem;
                            border-radius: 0.3rem;
                            color: #FFFFFF;
                            text-align: center;
                        }
                        >div:nth-child(2){
                            display: flex;
                            margin-top: 15px;
                            >span{
                                flex: 1;
                                justify-content: center;
                                align-items: center;
                                color: #AAAAAA;
                                font-size: 0.14rem;
                                cursor: pointer;
                                user-select: none;
                                &:hover{
                                    color: #FFFFFF;
                                }
                            }
                        }
                    }
                    >div:nth-child(2){
                        font-size: 0.3rem;
                        background-color: #212E48;
                        letter-spacing: -0.02em;
                        color: #FFFFFF;
                        font-family: 'aaa';
                        border-radius: 50%;
                        width: 0.7rem;
                        text-align: center;
                        height: 0.7rem;
                        line-height: 0.7rem;
                        position: absolute;
                        top: 50%;
                        right: 0%;
                        transform: translateY(-50%);
                    }
                }
            }

            .raffles::-webkit-scrollbar {
                width: 5px;
                height: 10px;
            }
            .raffles::-webkit-scrollbar-track {
                background: #2A3261;
                border-radius: 10px;
            }
            .raffles::-webkit-scrollbar-thumb {
                background: #FFFFFF;
                border-radius: 10px;
            }
            .raffles{
                background-color: #000000;
                margin-top: 0.2rem;
                padding-top: 0.2rem;
                overflow: auto;
                height: calc(100% - 1.2rem);
                width: 100%;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-gap: 10px;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                // >div:nth-child(even){//一上一下的效果在这
                //     transform: translateY(10%);
                // }
                // >div:nth-child(odd){
                //     transform: translateY(0%);
                // }
            }
        }

        .home_rf_right {
            flex: 1.2;
            display: flex;
            flex-direction: column;
            >div {
                flex: 1;
            }

            .mint {
                margin-top: 0.7rem;
                margin-left: 0.7rem;
                >div:nth-child(1){
                    letter-spacing: -0.02em;
                    text-transform: uppercase;
                    font-size: 16px;
                    color: #AEE2FF;
                    padding: 1% 0%;
                }
                >span {
                    letter-spacing: -0.02em;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    display: inline-block;
                    >span {
                        cursor: pointer;
                        padding-right: 5px;
                    }
                }
            }

            .bom {
                position: relative;
                >div:nth-child(1){
                    text-transform: uppercase;
                    font-size: 0.24rem;
                    font-family: 'aaa';
                    color: #FFFFFF;
                    margin-top: 0.7rem;
                    padding-left: 1.05rem;
                }
                .flitone {
                    position: absolute;
                    top: 24%;
                    left: 20%;
                    >div:nth-child(1){
                        text-transform: uppercase;
                        font-size: 14px;
                        color: #8A90BF;
                        padding: 4% 0%;
                    }
                    .maxt {
                        background-color: #21264B;
                        width: 2.5rem;
                        height: 0.5rem;
                        line-height: 0.5rem;
                        text-align: center;
                        border-radius: 20px;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #D2D2D2;
                        position: relative;
                        cursor: pointer;
                        >span {
                            position: absolute;
                            top: 50%;
                            right: 10%;
                            transform-origin: 50% 50%;
                            transform: translate(0%, -50%);
                            width: 20px;
                            height: 20px;
                            display: inline-block;
                            transition: .7s;
                            &::after {
                                content: '';
                                width: 50%;
                                height: 1px;
                                background-color: #FFFFFF;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-90%, -50%)rotate(45deg);
                            }
                            &::before {
                                content: '';
                                width: 50%;
                                height: 1px;
                                background-color: #FFFFFF;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-20%, -50%) rotate(-45deg);
                            }
                        }
                    }
                    .ul {
                        padding: 0%;
                        margin: 0%;
                        list-style: none;
                        width: 2.5rem;
                        height: 0px;
                        overflow: hidden;
                        transition: .7s;
                        position: relative;
                        z-index: 666;
                        >li {
                            text-align: center;
                            padding: 10px 0px;
                            background-color: #121632;
                            border-bottom: 1px solid #3E446D;
                            cursor: pointer;
                            &:hover {
                                color: #489AD6;
                            }
                        }
                        >li:last-child {
                            border-bottom: none;
                            border-bottom-left-radius: 20px;
                            border-bottom-right-radius: 20px;
                        }
                        >li:first-child {
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                        }
                    }
                }
                .flittwo {
                    position: absolute;
                    top: 48%;
                    left: 18%;
                    >div:nth-child(1){
                        text-transform: uppercase;
                        font-size: 14px;
                        color: #8A90BF;
                        padding: 4% 0%;
                    }
                    .maxt {
                        background-color: #21264B;
                        width: 2.5rem;
                        height: 0.5rem;
                        line-height: 0.5rem;
                        text-align: center;
                        border-radius: 20px;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #D2D2D2;
                        position: relative;
                        cursor: pointer;
                        >span {
                            position: absolute;
                            top: 50%;
                            right: 10%;
                            transform-origin: 50% 50%;
                            transform: translate(0%, -50%);
                            width: 20px;
                            height: 20px;
                            display: inline-block;
                            transition: .7s;
                            &::after {
                                content: '';
                                width: 50%;
                                height: 1px;
                                background-color: #FFFFFF;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-90%, -50%)rotate(45deg);
                            }
                            &::before {
                                content: '';
                                width: 50%;
                                height: 1px;
                                background-color: #FFFFFF;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-20%, -50%) rotate(-45deg);
                            }
                        }
                    }
                    .ul {
                        padding: 0%;
                        margin: 0%;
                        list-style: none;
                        width: 2.5rem;
                        height: 0px;
                        overflow: hidden;
                        transition: .7s;
                        text-transform: uppercase;
                        >li {
                            text-align: center;
                            padding: 10px 0px;
                            background-color: #121632;
                            border-bottom: 1px solid #3E446D;
                            cursor: pointer;
                            &:hover {
                                color: #489AD6;
                            }
                        }
                        >li:last-child {
                            border-bottom: none;
                            border-bottom-left-radius: 20px;
                            border-bottom-right-radius: 20px;
                        }
                        >li:first-child {
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                        }
                    }
                }
                >img {
                    position: absolute;
                    bottom: 0%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }
        }
    }

    .home_logo {
        letter-spacing: 0.14em;
        text-transform: uppercase;
        font-size: 12px;
        color: #AAAAAA;
        text-align: center;
        margin: 3% 0%;

        >div:nth-child(1) {
            padding-bottom: 0.5%;
        }
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1500px) {
    .container {
        .home_img {
            .home_show {
                >div:nth-child(1) {
                    >div {
                        .bottom {
                            flex-direction: column;
                            font-size: 12px;
                            padding: 0px 0px;
                            margin-bottom: 10px;

                            span {
                                margin: 0px 0px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:1500px) {
    .container{
        .home_rf{
            .home_rf_left{
                .raffles{
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                }
            }
        }
    }
}

@media screen and (min-width:2002px) {
    .container {
        .home_img {
            .home_show {
                >div:nth-child(1) {
                    >div {
                        >img {
                            height: 4.5rem;
                            width: 3.2rem;
                        }
                    }
                }
            }
        }
    }
}