@import '../styles/variables.scss';

.container {
    width: 100%;
    margin: auto;
    font-size: 0.2rem;
    .home_img{
        width: 100%;
        height: 10rem;
        position: relative;
        >img{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-60%);
            z-index: -1;
        }
        .home_page{
            font-size: 0.24rem;
            text-align: center;
            padding-top: 1.7rem;
            letter-spacing: -0.02em;
            color: #F1F1F1;
            font-weight: 800;
        }
        .home_show{
            width: 90%;
            height: 6.5rem;
            margin: auto;
            position: relative;
            >div:nth-child(1){
                display: flex;
                justify-content: space-evenly;
                >div:nth-child(odd){
                    transform: translateY(15%);
                }
                >div:nth-child(even){
                    transform: translateY(30%);
                }
                >div{
                    position: relative;
                    >img{
                        height: 4rem;
                        width: 2.6rem;
                        user-select: none;
                    }
                    .price{
                        position: absolute;
                        top: -5%;
                        left: 5%;
                        height: 0.65rem;
                        width: 0.5rem;
                        background-color: #1F2B43;
                        clip-path: polygon(0 0, 99% 0, 100% 100%, 50% 77%, 0 100%);
                        text-align: center;
                        padding-top: 10px;
                        font-size: 0.2rem;
                        font-family: 'aaa';
                        font-weight: 300;
                    }
                    .bottom{
                        position: absolute;
                        bottom: 0%;
                        left: 0%;
                        width: 100%;
                        padding: 20px 5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        font-family: 'aaa';
                        >div:nth-child(2){
                            .dates{
                                >span{
                                    display: inline-block;
                                    text-align: center;
                                    width: 30px;
                                    height:30px;
                                    line-height: 30px;
                                    background: rgba(0, 0, 0, 0.6);
                                    border-radius: 10px;
                                    margin: 0px 3px;
                                }
                            }
                        }
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0%;
                        bottom: 0%;
                        width: 100%;
                        height: 0.4rem;
                        background: #00102E;
                        filter: blur(27px);
                        transform: translateY(50%);
                        transition: all .5s;
                        pointer-events: none;
                        z-index: -1;
                    }
                }
            }
            >div:nth-child(2){
                height: 4px;
                width: 6rem;
                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: space-evenly;
                >span{
                    width: 1rem;
                    background-color: #999999;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
    }
    .home_rf{
        width: 90%;
        margin: auto;
        display: flex;
        .home_rf_left{
            flex: 3;
            text-align: center;
        }
        .home_rf_right{
            flex: 1;
            .maxt{
                background-color: aqua;
                width: 2.5rem;
                height: 0.5rem;
                line-height: 0.5rem;
                text-align: center;
                border-radius: 20px;
                color: black;
                position: relative;
                cursor: pointer;
                >span{
                    position: absolute;
                    top: 50%;
                    right: 10%;
                    transform-origin: 50% 50%;
                    transform:translate(0%,-50%);
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    transition: .7s;
                    &::after{
                        content: '';
                        width: 50%;
                        height: 1px;
                        background-color: red;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform:translate(-90%,-50%)rotate(45deg);
                    }
                    &::before{
                        content: '';
                        width: 50%;
                        height: 1px;
                        background-color: red;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform:translate(-20%,-50%) rotate(-45deg);
                    }
                }
            }
            .ul{
                padding: 0%;
                margin: 0%;
                list-style: none;
                width: 2.5rem;
                height: 0px;
                overflow: hidden;
                transition: .7s;
                >li{
                    text-align: center;
                    padding: 10px 0px;
                    background-color: rgb(24, 62, 186);
                    border-bottom: 1px solid green;
                    cursor: pointer;
                    &:hover{
                        color: red;
                    }
                }
                >li:last-child{
                    border-bottom: none;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
                >li:first-child{
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
            }
            .mint{
                >span{
                    background-color: rgb(12, 99, 158);
                    margin-right: 10px;
                    margin-bottom: 10px;
                    display: inline-block;
                    >span{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1500px) {
    .container{
        .home_img{
            .home_show{
                >div:nth-child(1){
                    >div{
                        .bottom{
                            flex-direction: column;
                            font-size: 12px;
                            padding: 0px 0px;
                            margin-bottom: 10px;
                            span{
                                margin: 0px 0px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:2002px) {
    .container{
        .home_img{
            .home_show{
                >div:nth-child(1){
                    >div{
                        >img{
                            height: 4.5rem;
                            width: 3.2rem;
                        }
                    }
                }
            }
        }
    }
}